name: Stale Issue Labeler

on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write
  actions: write

jobs:
  issues:
    name: Check for stale issues
    runs-on: ubuntu-latest
    if: ${{ contains(github.repository, 'BassT23/Proxmox') }}
    steps:
      - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ascending: true
          days-before-issue-stale: 60
          days-before-issue-close: 21
          stale-issue-label: "stale"
          stale-issue-message: "This issue has gone 60 days without an update and will be closed within 21 days if there is no new activity. To prevent this issue from being closed, please confirm the issue has not already been fixed by providing updated examples or logs."
          close-issue-message: "This issue was closed because it has been inactive for 21 days since being marked as stale."
          days-before-pr-stale: -1
          days-before-pr-close: -1